---
import Layout from '../layouts/Layout.astro';
import SitePage from '../components/SitePage.astro';
---

<Layout title="About" chrome={false} fonts={true}>
  <SitePage>
    <h1>About</h1>
  </SitePage>
</Layout>
